Repository naxa-developers/fmtm-tokha, pull requests merged in 2025-03, with the labels that each got.

#25 show osm id label
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: enhancement

#26 Feat/frontend req tokha
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/mapper/project.inlang/cache/modules/3fhvg7lmyjji3
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/main.svelte
Labels: enhancement, frontend

#27 Create new entity of new feature
  src/backend/app/central/central_crud.py
  src/backend/app/projects/project_routes.py
Labels: backend

#28 Mapper to create new entity, gen 5 digit osm id
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
Labels: backend

#29 Merge Develop
  src/backend/app/central/central_crud.py
  src/backend/app/db/postgis_utils.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/api/Project.ts
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/SubmissionInstance/SubmissionComments.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/hooks/usePermissions.ts
  src/frontend/src/store/types/IProject.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/views/ApproveOrganization.tsx
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/NoAccessComponent.tsx
  src/frontend/src/views/Organisation.tsx
  src/mapper/project.inlang/cache/modules/3fhvg7lmyjji3
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/layer-switcher.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: backend, frontend

#30 Remove submission ids from entity properties
  src/backend/app/projects/project_routes.py
Labels: backend

#31 refactor(submission): geojson download
  src/backend/app/central/central_crud.py
  src/backend/app/db/models.py
  src/backend/app/submissions/submission_routes.py
Labels: enhancement, backend

#33 Feat/frontend req tokha
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: enhancement, frontend

#34 refactor(entity): update new entity stroke
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/lib/components/map/main.svelte
Labels: bug, frontend

#35 fix(main): fix line color
  src/mapper/src/lib/components/map/main.svelte
Labels: bug

#36 Fix new bad entity layer stroke
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: bug

#37 Remove submission ids from entity feature
  src/backend/app/projects/project_routes.py
Labels: bug, backend

#38 Align colour of new feature in mnmgt frontend with mapper frontend
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
Labels: bug, frontend

#39 Merge Develop
  src/backend/app/central/central_crud.py
  src/backend/app/db/models.py
  src/backend/app/projects/project_routes.py
  src/backend/app/submissions/submission_routes.py
  src/frontend/src/components/ProjectDetailsV2/FeatureSelectionPopup.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/store/slices/ProjectSlice.ts
  src/frontend/src/store/types/ITask.ts
  src/frontend/src/utilfunctions/getTaskStatusStyle.ts
  src/frontend/src/views/ProjectDetailsV2.tsx
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/routes/[projectId]/+page.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: backend, frontend

#40 merged from develop
  src/backend/app/submissions/submission_routes.py
  src/mapper/src/lib/odk/collect.ts
Labels: backend

#41 Fix lag issue on entity status sync
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/offline/basemaps.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: bug
