Repository naxa-developers/fmtm-tokha, pull requests merged in 2025-02, with the labels that each got.

#6 Change label from osm id to house id, Turn geo restrict on
  src/backend/app/central/central_crud.py
  src/backend/app/db/models.py
Labels: bug, backend

#7 Merge Development
  src/backend/app/central/central_crud.py
  src/backend/app/db/models.py
Labels: backend

#9 Merge latest inclusion of go-tilepacks
  contrib/basemap/Dockerfile
  contrib/basemap/README.md
  contrib/basemap/build.sh
  src/backend/Dockerfile
  src/backend/app/projects/project_crud.py
Labels: backend, contrib

#10 Fix/new geom draw
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/odk/collect.ts
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: bug

#12 fix: change corepack version to fix the issue of keyid during install…
  src/Dockerfile.ui.debug
  src/Dockerfile.ui.prod
Labels: bug

#14 Add date range filter for geojson download of submissions
  src/backend/app/submissions/submission_routes.py
Labels: backend

#16 Fix/bug tokha
  src/frontend/src/components/MapComponent/OpenLayersComponent/AsyncPopup/AsyncPopup.tsx
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/components/SubmissionMap/SubmissionInstanceMap.tsx
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
  src/frontend/src/views/SubmissionDetails.tsx
  src/mapper/src/routes/[projectId]/+page.svelte
Labels: bug, frontend

#15 Submission media
  .env.example
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  odkcentral/api/Dockerfile
  odkcentral/api/container-entrypoint.sh
  odkcentral/api/init-user-and-start.sh
  src/backend/app-entrypoint.sh
  src/backend/app/central/central_deps.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/migrate-entrypoint.sh
  src/backend/pyproject.toml
  src/backend/uv.lock
Labels: enhancement, backend, devops, ODK

#18 Download submissions as geojson
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
Labels: enhancement, frontend

#19 Dev -> main
  .env.example
  docker-compose.development.yml
  docker-compose.main.yml
  docker-compose.yml
  odkcentral/api/Dockerfile
  odkcentral/api/container-entrypoint.sh
  odkcentral/api/init-user-and-start.sh
  src/backend/app-entrypoint.sh
  src/backend/app/central/central_deps.py
  src/backend/app/submissions/submission_crud.py
  src/backend/app/submissions/submission_routes.py
  src/backend/migrate-entrypoint.sh
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/src/api/SubmissionService.ts
  src/frontend/src/components/ProjectSubmissions/SubmissionsTable.tsx
  src/frontend/src/store/slices/SubmissionSlice.ts
  src/frontend/src/store/types/ISubmissions.ts
Labels: backend, frontend, devops, ODK

#20 Feat/submission photos integration
  src/frontend/src/api/Submission.ts
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: enhancement, frontend

#21 Develop
  src/backend/app/central/central_crud.py
  src/backend/app/osm_fieldwork/OdkCentral.py
  src/backend/app/osm_fieldwork/OdkCentralAsync.py
  src/backend/app/osm_fieldwork/__version__.py
  src/backend/app/osm_fieldwork/basemapper.py
  src/backend/app/osm_fieldwork/form_components/choice_fields.py
  src/backend/app/osm_fieldwork/form_components/digitisation_fields.py
  src/backend/app/osm_fieldwork/form_components/mandatory_fields.py
  src/backend/app/osm_fieldwork/make_data_extract.py
  src/backend/app/osm_fieldwork/update_xlsform.py
  src/backend/app/projects/project_routes.py
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/frontend/src/api/Submission.ts
  src/frontend/src/utilfunctions/extractGeojsonFromObject.ts
  src/frontend/src/views/SubmissionDetails.tsx
Labels: backend, frontend

#23 Feat/user roles tokha
  src/frontend/src/components/DialogTaskActions.tsx
  src/frontend/src/components/home/HomePageFilters.tsx
  src/frontend/src/hooks/usePermissions.ts
  src/frontend/src/types/enums.ts
  src/frontend/src/views/ApproveOrganization.tsx
  src/frontend/src/views/CreateEditOrganization.tsx
  src/frontend/src/views/CreateNewProject.tsx
  src/frontend/src/views/NoAccessComponent.tsx
  src/frontend/src/views/Organisation.tsx
Labels: enhancement, frontend

#24 Feature level comment
  src/frontend/src/components/ProjectDetailsV2/Comments.tsx
  src/frontend/src/components/ProjectSubmissions/UpdateReviewStatusModal.tsx
  src/frontend/src/components/SubmissionInstance/SubmissionComments.tsx
  src/frontend/src/store/types/IProject.ts
  src/mapper/src/lib/components/dialog-entities-actions.svelte
  src/mapper/src/lib/components/map/main.svelte
  src/mapper/src/lib/components/more/index.svelte
  src/mapper/src/store/entities.svelte.ts
Labels: enhancement, frontend
